.container {
  display: flex;
  flex-direction: column;
  gap: 400px;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 100%;

  background: #d6c9c9;
}

.playButton {
  width: 150px;
  height: 70px;
  padding: 10px;

  font-size: 2rem;

  background: #83b933;
  border: none;
}

.projectName {
  font-size: 3rem;
  text-align: center;
}

.menuBar {
  gap: 400px;
  width: 60%;
  height: 40em;
  background: #757575;
}

.prop {
  display: flex;
  justify-content: space-between;
  width: 30em;
  margin: 20px auto;
}

.volumeLine {
  height: 15px;
  margin-left: 10px;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
}
